
html {
  background-image: url('./assets/Road.jpg') ;
  background-repeat: no-repeat;
}

.bus {
  border: none;
  width: 120px;
  height: 120px;
  margin: .8em 0 0 .4em;
}

.title {
  display: flex;
  justify-content: flex-start;
  margin-left: .7em;
}

nav {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.nav ul{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  margin-right: .5em;
}

.nav li {
  height: 50%;
  padding: 1em 1.3em;
  border: 2px black solid;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.images {
  border: 1px solid black;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-around;
  border: 1em black;
  width: 100%;
}

h1 {
  display: inline-block;
  text-align: justify;
  font-size: 3.5em;
  color: #2c5699;
  padding-left: .3em;
  text-shadow: 2px 2px 8px black;
  /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/

}

.imgstyle:hover {
  width: 320px;
  height: 320px;
}

.imgstyle {
  opacity: inherit;
}

h2 {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: center;
}

#results_list {
  list-style: none;
  display: inline-block;
  margin 0 auto;
  padding: .5em 0;
}

img {
  border: 2px black solid;
  border-radius: 8px;
  background-color: none;
}

#fieldset {
  margin: 1em 0;
  border-radius: 8px;
  border: color: black;
  background-color: green;
  visibility: hidden;
  border: none;
}

#box {
  background-color: white;
  border: 2px black solid;
  border-radius: 8px;
  width: 20%;
  visibility: hidden;
  text-align: center;
}

#submit {
  text-align: center;
  font-size: 2em;
  font-family: cursive;
  margin: .1em auto;
  display: block;
  visibility: hidden;
}

.results_li {
  color: black;
  font-family: 'Arial';
  font-size: 1em;

}

.bottom {
  display: flex;
  width: 500px;
  height:500px;
}

 .chart {
  position: relative;
  width: 950px;
  height: 500px;

}

#myChart {
  /*position: absolute;
  display: flex;
  justify-content: flex-end;*/
  width: 100px;
  height: 100px;
  margin-left: 350px;
}
